version: '3'
services:
  element:
    image: vectorim/element-web:latest
    restart: unless-stopped
    volumes:
      - ./element-config.json:/app/config.json
      - ./element-theme:/app/themes/samsesh
    ports:
      - "8080:80"

  synapse:
    image: matrixdotorg/synapse:latest
    restart: unless-stopped
    volumes:
      - ./synapse:/data
    ports:
      - "8008:8008"
      - "8448:8448"

  synapse-admin:
    image: awesometechnologies/synapse-admin
    restart: unless-stopped
    ports:
      - "8081:80"

  coturn:
    image: instrumentisto/coturn:latest
    restart: unless-stopped
    volumes:
      - ./coturn/turnserver.conf:/etc/coturn/turnserver.conf
    ports:
      - "49160-49200:49160-49200/udp"
      - "3478:3478"
      - "5349:5349"